## <center>SUPERNATURAL EMPOWERMENT SUMMIT, '23 </center>

### IMPORT PACKAGES

In [1]:
#Data Handling
import numpy as np
import pandas as pd

#Visualizations
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

from termcolor import colored

# Feature Processing (Scikit-learn processing, etc. )
from sklearn.preprocessing import LabelEncoder

# Evaluation Metrics
from sklearn.model_selection import train_test_split
from catboost import CatBoostClassifier
from sklearn.metrics import f1_score, recall_score, precision_score, fbeta_score, accuracy_score, roc_auc_score
from sklearn.metrics import confusion_matrix
from sklearn.feature_selection import RFE

#Other packages
import warnings
warnings.filterwarnings('always')

In [2]:
# Overview of the dataset

ses23 = pd.read_csv("C:/Users/KWABENABOATENG/Desktop/DATA ANALYSIS/PERSONAL/SES 2023/SUPERNATURAL-EMPOWERMENT-SUMMIT---2023/SES '23.csv")
ses23

,Timestamp,Title,First Name,Last Name,Mobile Number,WhatsApp Number,Email Address,Country,Occupation,Name of Church
0,2023/05/22 7:06:16 PM GMT,Mr,Evans,Coffie,0249884472,0249884472,NaN,Ghana,NaN,Teminar
1,2023/05/22 7:07:14 PM GMT,Mr,Noble,King,0240219533,0240219533,NaN,Ghana,NaN,Perez Chapel
2,2023/05/22 7:07:20 PM GMT,Mr,Appiedu,Owusu Acheampong,0244450039,0244450039,appiedu.acheampong@gmail.com,Ghana,NaN,Perz Chapel
3,2023/05/22 7:08:43 PM GMT,Rev,Albert,T Kamara,0243801382,0243801382,NaN,Ghana,NaN,Perez Chapel
4,2023/05/22 7:08:43 PM GMT,Rev.,David K.,Smith,0245127629,0245127629,rev.davidkwesismith@yahoo.com,Ghana,"Cleric (Pastors, Reverends etc)",C.Y.N
...,...,...,...,...,...,...,...,...,...,...
3593,2023/06/13 4:07:53 PM GMT,MR,MARCUS,DELA,0244021980,NaN,NaN,GHANA,NaN,PEREZ
3594,2023/06/13 4:08:47 PM GMT,MR,PATRICK,AMEGAZO,0597998224,NaN,NaN,GHANA,NaN,PEREZ
3595,2023/06/13 4:09:33 PM GMT,REV,EBENEZER,ALIBANWIE,0203044808,NaN,NaN,GHANA,NaN,MPCI
3596,2023/06/13 4:10:45 PM GMT,PASTOR,RAPHAEL,LAMKPOR,0249415892,NaN,NaN,GHANA,NaN,MPCI
3597,2023/06/13 4:11:56 PM GMT,MR,DANIEL,OWUSU GYEBI,0588124577,NaN,NaN,GHANA,NaN,CLWCI

In [3]:
# Check the shape of the dataset.

ses23.shape

(3598, 10)

In [4]:
ses23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3598 entries, 0 to 3597
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Timestamp        3598 non-null   object
 1   Title            3598 non-null   object
 2   First Name       3598 non-null   object
 3   Last Name        3598 non-null   object
 4   Mobile Number    3598 non-null   object
 5   WhatsApp Number  883 non-null    object
 6   Email Address    1467 non-null   object
 7   Country          3598 non-null   object
 8   Occupation       209 non-null    object
 9   Name of Church   3188 non-null   object
dtypes: object(10)
memory usage: 281.2+ KB

In [5]:
ses23.isnull()

,Timestamp,Title,First Name,Last Name,Mobile Number,WhatsApp Number,Email Address,Country,Occupation,Name of Church
0,False,False,False,False,False,False,True,False,True,False
1,False,False,False,False,False,False,True,False,True,False
2,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,True,False,True,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
3593,False,False,False,False,False,True,True,False,True,False
3594,False,False,False,False,False,True,True,False,True,False
3595,False,False,False,False,False,True,True,False,True,False
3596,False,False,False,False,False,True,True,False,True,False
3597,False,False,False,False,False,True,True,False,True,False

In [6]:
ses23.isnull().sum()

Timestamp             0
Title                 0
First Name            0
Last Name             0
Mobile Number         0
WhatsApp Number    2715
Email Address      2131
Country               0
Occupation         3389
Name of Church      410
dtype: int64

In [7]:
# Check for the total null values.

ses23.isnull().sum().sum()

8645

In [8]:
ses23

,Timestamp,Title,First Name,Last Name,Mobile Number,WhatsApp Number,Email Address,Country,Occupation,Name of Church
0,2023/05/22 7:06:16 PM GMT,Mr,Evans,Coffie,0249884472,0249884472,NaN,Ghana,NaN,Teminar
1,2023/05/22 7:07:14 PM GMT,Mr,Noble,King,0240219533,0240219533,NaN,Ghana,NaN,Perez Chapel
2,2023/05/22 7:07:20 PM GMT,Mr,Appiedu,Owusu Acheampong,0244450039,0244450039,appiedu.acheampong@gmail.com,Ghana,NaN,Perz Chapel
3,2023/05/22 7:08:43 PM GMT,Rev,Albert,T Kamara,0243801382,0243801382,NaN,Ghana,NaN,Perez Chapel
4,2023/05/22 7:08:43 PM GMT,Rev.,David K.,Smith,0245127629,0245127629,rev.davidkwesismith@yahoo.com,Ghana,"Cleric (Pastors, Reverends etc)",C.Y.N
...,...,...,...,...,...,...,...,...,...,...
3593,2023/06/13 4:07:53 PM GMT,MR,MARCUS,DELA,0244021980,NaN,NaN,GHANA,NaN,PEREZ
3594,2023/06/13 4:08:47 PM GMT,MR,PATRICK,AMEGAZO,0597998224,NaN,NaN,GHANA,NaN,PEREZ
3595,2023/06/13 4:09:33 PM GMT,REV,EBENEZER,ALIBANWIE,0203044808,NaN,NaN,GHANA,NaN,MPCI
3596,2023/06/13 4:10:45 PM GMT,PASTOR,RAPHAEL,LAMKPOR,0249415892,NaN,NaN,GHANA,NaN,MPCI
3597,2023/06/13 4:11:56 PM GMT,MR,DANIEL,OWUSU GYEBI,0588124577,NaN,NaN,GHANA,NaN,CLWCI

### INSIGHTS

In this data sets, there are;
* 3598 rows & 10 columns.

In [9]:
#Check for missing values in this dataset.

ses23.isna().sum()

Timestamp             0
Title                 0
First Name            0
Last Name             0
Mobile Number         0
WhatsApp Number    2715
Email Address      2131
Country               0
Occupation         3389
Name of Church      410
dtype: int64

#### INSIGHTS

There were missing values in four columns of the dataset.<br>
They are:
* WhatsApp column       - 2715 missing values.
* Email Address column  - 2131 missing values.
* Occupation column     - 3389 missing values.
* Name of Church column - 410 missing values.

In [10]:
ses23.describe(include='all')

,Timestamp,Title,First Name,Last Name,Mobile Number,WhatsApp Number,Email Address,Country,Occupation,Name of Church
count,3598,3598,3598,3598,3598,883,1467,3598,209,3188
unique,3554,109,1692,2536,3190,836,1437,86,7,763
top,2023/05/23 8:01:51 PM GMT,Mr,Emmanuel,Mensah,-,0243181458,â€”,Ghana,"Cleric (Pastors, Reverends etc)",Perez
freq,2,1035,50,51,14,3,4,2418,98,546

### FEATURE ENGINEERING

In [11]:
#Create a copy of the original test dataset

ses23.copy = ses23.copy()

In [12]:
ses23.drop (columns=['Timestamp', 'WhatsApp Number', 'Email Address'], inplace = True)

In [13]:
ses23

,Title,First Name,Last Name,Mobile Number,Country,Occupation,Name of Church
0,Mr,Evans,Coffie,0249884472,Ghana,NaN,Teminar
1,Mr,Noble,King,0240219533,Ghana,NaN,Perez Chapel
2,Mr,Appiedu,Owusu Acheampong,0244450039,Ghana,NaN,Perz Chapel
3,Rev,Albert,T Kamara,0243801382,Ghana,NaN,Perez Chapel
4,Rev.,David K.,Smith,0245127629,Ghana,"Cleric (Pastors, Reverends etc)",C.Y.N
...,...,...,...,...,...,...,...
3593,MR,MARCUS,DELA,0244021980,GHANA,NaN,PEREZ
3594,MR,PATRICK,AMEGAZO,0597998224,GHANA,NaN,PEREZ
3595,REV,EBENEZER,ALIBANWIE,0203044808,GHANA,NaN,MPCI
3596,PASTOR,RAPHAEL,LAMKPOR,0249415892,GHANA,NaN,MPCI
3597,MR,DANIEL,OWUSU GYEBI,0588124577,GHANA,NaN,CLWCI

In [14]:
ses23.isnull()

,Title,First Name,Last Name,Mobile Number,Country,Occupation,Name of Church
0,False,False,False,False,False,True,False
1,False,False,False,False,False,True,False
2,False,False,False,False,False,True,False
3,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
3593,False,False,False,False,False,True,False
3594,False,False,False,False,False,True,False
3595,False,False,False,False,False,True,False
3596,False,False,False,False,False,True,False
3597,False,False,False,False,False,True,False

In [15]:
ses23.isnull().sum()

Title                0
First Name           0
Last Name            0
Mobile Number        0
Country              0
Occupation        3389
Name of Church     410
dtype: int64

In [16]:
ses23['Occupation'].fillna('Pastor', inplace=True)

In [17]:
ses23['Name of Church'].fillna('Perez Chapel', inplace=True)

In [18]:
ses23['Name of Church'].unique()

array(['Teminar', 'Perez Chapel', 'Perz Chapel', 'C.Y.N',
       'Perez Chapel, Lome', 'Peniel', 'PEREZ TRASAACO', 'GIPM',
       'Perez Dome', 'Perez ', 'Perez Dome ', 'R.D',
       'Living Hope Internetional', 'Perez', 'L.D.S', 'LGCG', 'PCI',
       'Calvary Power', 'Dome', 'FOLP', 'C.O.P', 'GHARIS', 'Coin Int',
       'PCM', 'TBC', 'AWG', 'Perez Aflao ', 'Cantoments', 'PCI Denu',
       'Perez/French', 'PCI ', 'Perez French ', 'Action Chapel',
       'Christ Lunie du Nation', 'LGC', 'FMBU', 'MK', 'Royalhouse', 'WCI',
       'KCIC', 'Fire family', 'Top Church International ', 'TAC',
       'Ghana ', 'Fiqa', 'Pentecost', 'Perez Amanfro', 'Jesus Power',
       'Anglican', 'KCM', 'VGM', 'HKOMI', '3R', 'Perez- zoeland ', 'EECA',
       'ATOG', 'Havest', 'Posibilities', 'HJM', 'LIBC', 'Perez Zoeland ',
       'Roman', 'Church of Christ', 'Rapha Centre', '-', 'Pci', 'ICGC',
       'CSWC', 'MELN ', 'EFC', 'MELN', 'First Century', 'Deeper Life',
       'TFGM', 'AWC', 'Harvest Trmple', 'Zoeland', 'PCi',
       'Builders Christian church', 'UBCI', 'Brigade', 'KLM',
       'Torchworld Ministries', 'Possibilities ', 'Assemblies of God',
       'PCI-La', 'AIG', 'Light of life', 'Blessed', 'MDRC',
       'Perez Chapel ', 'QFC', 'Kiwgiv', 'PCI Zoe', 'Foursquare',
       'Fours quare', 'Perez Zealand', 'First fruit', 'Shiloh Outreach ',
       'CEE', 'Church of God', 'CPI', 'CPU', 'A.G.A', 'C.K.P.C', 'PRC',
       'PCI Dome', 'All Nations', 'GDC', 'SFCI', 'Kabowd', 'P C I',
       'Dome-Above Chapel ', 'Methodist', 'C C I', 'Church Of God',
       'PCI Hq', 'WCCI', 'Perez Takoradi', 'PCI FRENCH', 'C A M',
       'Christ Glorious', 'PCI DOME', 'D C I', 'EP Church', 'Pci Nkwanta',
       'AD', 'TFCCI', 'EMMA', 'RHCI', 'TWI', 'WGM', 'Mallam', 'Kim',
       'Ephrata', 'Jesu est la solute', 'TCI', 'Nsuta Nkwakaw',
       'Nations Chapel', 'Perez/Amsterdam', 'GVL', 'Perez/Dome', 'KICC',
       'MPV', 'Zoeland ', 'Dome ', 'MDG', 'EPE', 'DLC', 'Pci/ French',
       'PCI French', 'CCI', 'DCM', 'POWI', 'DCA',
       'Blessing Arista center ', 'TCCG', 'P.O.E.C', 'GEC ', 'ICC',
       'Perez Campus Ministry', 'CLM', 'Perez Campus Ministry ', 'GEC',
       'Jesus power church ', 'Jesus power church', 'ROGHC', 'Pci ',
       'MEVAA', 'COP', 'Solution of Christ Ministry', 'Ebenezer',
       'Global', 'Gasem ', 'PCI-Dome', 'Ebenezer ', 'EPD', 'Perez DOme',
       'Spirit of life', 'AG', 'PCI-Zoeland', 'C.I.C', 'Methodist ',
       'CCC', 'PCI-Atomic', 'Royal Fortress Ministry', 'HGACI',
       "For Christ's Sake Ministry", 'Klm', 'Faith Word Prayer', 'EPNB',
       'HIM', 'A.G', 'Awesome Grace Network', 'GRM', 'Perez/French ',
       'PCI-Tesano', 'Zoe', 'SOLCI', 'C.A. Min. Int', 'Perez/ French',
       'Perez French SCE', 'PCI-Odorkor', 'Perez/ Frecnch',
       'Perez French', 'Pottes City', 'Perez/ Dome', 'T.C.R.C',
       'Christ Love Evan', 'JPC', 'Springs of Life ', 'Generations',
       'Springs of life', 'Krokobite branch', 'VCC', 'Dome French ',
       'Harvest Chapel ', 'Christian Love', 'I.C.G.C', 'Perez Zoe', 'MCI',
       'EGIN', 'PENSA', 'CEM', 'Dominion', 'LPMI', 'PCI - Zoeland ',
       'Ghana', 'Assemblies of God ', 'Sheepgate', 'TFHC',
       'Christian Light Gos.', 'Kabauel', 'M.E.V.c', 'PCI H.T',
       'Mischout', 'Calvary Methodist ', 'Pentecost ', 'PCG',
       'Royals Chapel ', 'Espire vic', 'The Royal Church ',
       'Yopougon church ', 'MAPR', 'Perez chapel ', 'UPRR', 'TABI',
       'CLFC', 'Mercy 63', 'Resurrection Power International ',
       'MERCI 55', 'Perez K.K.', 'Perez H.Q', 'ECDV', 'Truth',
       'True Christian Life Ministry ', 'Assembles of God', 'Abiding ',
       'Bread of Life', 'Action Chapel International ', 'MMVC',
       'Prayer Sub', 'CLF', 'WWWM', 'P.C.T', 'God church ',
       'Prevailing House of Prayer',
       'Perez chapel international -Odorkor', 'Presby',
       'Perez Chapel international ', 'Church of Pentecost ', 'Preze',
       'T/N branch', 'Victory Bible Church', 'P.C.I', 'NCCS',
       'Shiloh Temple - Dawhenya Branch ', 'PLI', 'G.E.M.I', 'EWC',
       'F.G.C', 'Victory Bible church ', 'PSAM', 'Light house ',
       'Gate of life church ', 'LCSAG', 'Fire Camp Universal Mission',
       'CK. Global', 'GLIC', 'Perez Chapel International ',
       'Gate of Life Church', 'Refirm', 'LAPSE', 'PC1', 'LNC', 'F.G.M.I ',
       'JFC', 'La-okacect', 'R.P', 'Springs of Life Chapel ',
       'Perfecting Faith ', 'Apostolic', 'Presby ', 'PCL', 'IGG', 'PIC',
       'LCI', 'Abokobi', 'Abokobi ', 'Possibilities', 'BCI', 'LAN',
       'Perez Chapel Information ', 'P.O.P', 'FIG ministry',
       'Spring of Life', 'FIG', 'Higher lifeCC', 'PCCI', 'Dowi', 'WF ',
       'PEREZ', 'PXI', 'PCIF', 'cac', 'J.P.M.I', 'Lighthouse ', 'Refem',
       'CEC', 'Victory bible church', 'Jesus Salvation', 'PPVP3',
       'Winners ', 'Zion mission outreach ', 'Word of Testimony ',
       'Light house', 'RCC', 'Rep. Ministry ',
       'Convenant Revelation Ministry ', 'Zion Mission Outreach', 'GPLE',
       'POP', 'Destiny Revival Ministries ', 'Winners Chapel ',
       'Catholic ', 'GNBC', 'GHC', 'GCC', 'ILFM', 'Radiant Place', 'Jaic',
       'Winners Chapel', 'CMC', 'Perez  Chapel', 'PCI-Ofankor ',
       'FOIGVIE', 'IG', 'WCRM', 'GGM', 'Perez (Spintex)', 'Revail',
       'GEMI', 'ALG', 'Favour Ministry', 'Shallom Chapel',
       'Resurrection Temple', 'Glory Embarry ', 'Assembles Of God',
       'Grace Mountain', 'Gospel Light', 'Living Bread', 'NCM',
       'Presbyterian Kasoa', 'K.O.C', 'WPNL', 'Perez Spintex', 'Scoan ',
       'C.A.M.T', 'Perez Pokuase', 'Perez Madina', 'Aphongman',
       'Perez Odorkor', 'Perez. Adenta', 'Zoe Temple', 'Keep gate',
       'Elolim Proaouce', 'CEMI', 'CEMI ', 'LHC', 'PCI (East Legon)',
       'Covenant Revelation Ministry', 'G.P.L.E', 'Success Academy ',
       'CND', 'LTV', 'JWC', 'CNI ', 'Triumph A/G', 'TOP ministry',
       'Not well written ', 'Not Written', 'Vbci ', 'Light House', 'ACI',
       'Catholic', 'CVI', 'Deserti', 'CAC', 'DRM', 'GVM', 'RCIM',
       'Possibilities Chapel', 'Possibilities Chapel ',
       'Church of Missions International ', 'Zion Citadel',
       'Church of Pentecost', 'Watchword Chapel', 'Possibility chapel',
       'Gospel Outreach', 'Transforming life', 'Evergreen Harvest',
       '1st Baptist Church', 'Christ Heavenly', 'Joyful life Church',
       'Word Of Faith', 'C.D.C', 'Possibilities Church',
       'Church on Missions', 'Church on Mission', 'Comi.Int',
       'Comi International ', 'RHIC', 'SBJM', 'E.F.C', 'OLHC', 'AGCM',
       'Reves ', 'Com International ', 'PCMVCC', 'Discovering Ministry ',
       'PCM-KNUST', 'PCM - KNUST', 'PCM -KNUST', 'Life Cathederal', 'PC',
       'UCC', 'Charis', 'Jesus Life Ministry ', 'BOG', 'ICUC',
       'Desmond Yarjah Ministries', 'Charis Ministries', 'GAE',
       'Church on mission', 'ICMC', 'RDJC', 'Faith Power', 'NGN', 'RDJG',
       'Deeper life', 'Passion Church International ',
       'Church of possibilities', 'PCI Lome', 'Possibilities Church ',
       'EBSE Cotonuo ', 'Royal house', 'Jericho', 'GGA', 'Pabtist',
       'CGBC', 'G.V.M', 'L.O.R.C', 'LWP', 'The Church on Rock',
       'Presbyterian ', 'Action Chapel ', 'SPM', 'LAB',
       'Christian love church ', 'TDC', 'GLK', 'Fruitful Vine ', 'CACI',
       'Winners Chapel International ', 'NLM', 'GIL', 'WLT', 'Baptis',
       'Pure Love Family Ministry', 'Shiloe  Temp', 'CRC', 'FGPMI',
       'Dunamic Grace Chapel', 'Jesus Profession', 'Life Worship Center',
       'Christian Light', 'R.C.C', 'TFCCI ', 'PLFM', 'C.A.C', 'ACC',
       'MSE', 'E.P', 'D.R.M', 'JWLIM', 'AIG ', 'True Word', 'LIM', 'CBC',
       'PCI Kpando', 'Mission Temple', 'PCI Hohoe', 'PCI Ho', 'MSPM',
       'CHORKOR', 'SCI', 'CCCW', 'COM. Int', 'PCI UCC', 'PCM UCC', 'VPC',
       'IPPM', 'TWS', 'Full light', 'CGK', 'True Covenant',
       'Zion Prayer Min', 'KDAI', 'PCM KNUST', 'El-Adonai',
       "El's Prayer Palace", 'AOG', 'Call Out Min. Int. Ho',
       'Holy Fire Prophetic Min', 'Perez Brazzaville', 'Spintex', 'PJLM',
       'RGCI', 'University ', 'Universe', 'PCM, UCC',
       'PCI Spintex branch', "Perez Cite D'Impact", 'PCM, Winneba',
       'Lighthouse', 'GCW', 'PCM Winneba', 'PCM UEW',
       'Jesus Power Church', 'KCC', 'Royal House Chapel ',
       'Glorious Church ', 'House Prayer Chapel ', 'GPCPI', 'FCGC',
       'Love Harvest ', 'JCM', 'TACG', 'PCI/ French', 'C A R', 'LIC',
       'G.E.C', 'Life City', 'Persz', 'PMC', 'St.Barnabas', 'EPFM',
       'Baptise', 'R.C.G.C.I', 'CIM', 'C.S.C', 'S.C.I', 'COM INT',
       'Banner Of Love ', 'INT COM', 'COMM INT', 'Com Int', 'Grace Temp',
       'FIA', 'COM INTLâ€™ ', 'WOFS', 'Word of faith', 'Figa', 'ICWC',
       'Destiny International ', 'Dominion Winners', 'TRC ', 'CMI',
       'Potterâ€™s ', 'PCI ZOELAND', 'Christ Embassy',
       'Christian Prescence Room', 'PCM ', 'BOGM', 'CDA', 'GLB Min',
       'Sam Light Min', 'Ridge', 'Word of Faith', 'The Royal Church',
       'Fountain of Revival ', 'Steadfast Love ', 'Baptist Church ',
       'PEG', 'Banner Tema', 'CKC', 'Banner Tema ', 'TRC', 'VBCI', 'ICEC',
       'Church On Missions ', 'Apostolic ', 'Banner of Grace',
       'Christ Alive ', 'Charis Church ', 'HHC.AG', 'HOFM', 'Charis ',
       'LHI', 'Visiting ', 'TPC', 'Royal Chapel ', 'Royal Church ',
       'Assemblies Of God ', 'Banner of Grace ', 'Assemblies of god ',
       'Adenta Perez ', 'RC', 'CINCC', 'CWCC', 'KECC', 'CLGM', 'JGM',
       'Passion Chapel', 'JP Ministries ', 'Faith Temple', 'PPC', 'TLO',
       'Promises Chapel Int.', 'LCM', 'BOAM ', 'EMC', 'PENTECOST',
       'Word Of Faith Sanctuary ', 'Word Of Sanctuary ', 'Holy Hill ',
       'RWCI', 'LSI', 'Jehovah Witness', 'GWM', 'CDMI', 'WMWW', 'R/C',
       'CARM', 'LA', 'Banner fo Grace Min', 'MCC', 'AC', 'LICC', 'PWPM',
       'Harvest', 'Fire Camp', 'GO', 'COMI', 'Kings', 'BOGM ', 'BOG ',
       'LCRC', 'TBC ', 'BG', 'BG ', 'Banner', 'Pci Zoeland', 'PIWC, Tema',
       'Catholic church', 'Pci east legon', 'LCRC The Royal Church',
       'Pentecost, Labone', 'Prise bir', 'H of L', 'Pci Dzorwulu', 'LGIM',
       'GLC', 'Perez Gbawe', 'Perez Chorkor', 'Perez Mallam',
       'Charis Minitries Int.', 'Charis Ministries int.',
       'Charis Mininstries Int', 'Charis Minitries Int', "K'dua",
       'Perez Manhean', 'Perez Afiaman', 'Perez Mankesim', 'Revival',
       'Quodesh', 'Zion Temple', 'PRAISE CHAPEL', 'PEREZ LA',
       'LIGHTHOUSE', 'PEREZ ', 'CATHOLIC', 'SOLUTION CENTER',
       'BANNER OF GRACE', 'RCCG', 'KANDA PCZ', 'KASOA', 'DOME',
       'JESUS POWER', 'C. I', 'SWCC', 'ASSEMBLY', 'IBC', 'ZOELAND',
       'PEREZ FRANCOPHONE', 'EGLISE FRANCOPHONE', 'GHANA', 'PEREZ FRENCH',
       'PRZ', 'ACTION CHAPEL', 'BANNER OFGRACE', 'CATHOLIC (ST. JOHN)',
       'CARC', 'PRESBY', 'A/G', 'NEW WAVE', 'APOSTOLIC', 'SDA', 'ROYALS',
       'EXCHANGE CHURCH', 'SFHC', 'FTC', 'TLRC', 'TESHIE', 'DAWHENYA',
       'METHODIST', 'ASSEMBLIES', 'SGO', 'DPGS', 'PEREZ TESANO', 'TESANO',
       'CIMM', 'BANNER', 'STEN', 'TRIUMPH A/G', 'PEREZ CHAPEL', 'MAN',
       'PCI MANKESIM', 'STAN', 'ROMAN', 'MOG', 'GPC', 'PDC', 'POPPG',
       'TPLC', 'GTO', 'RXC', 'GLT', 'CFVC', 'HARVEST',
       'ASSEMBLIES OF GOD', 'MPCI', 'CLWCI'], dtype=object)

In [20]:
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perz Chapel','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perez Chapel, Lome','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perez Dome','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perez ','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perez Dome ','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perez','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Dome','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('PCM','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perez Aflao ','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Cantoments','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('PCI Denu','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perez/French','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('PCI ','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perez French ','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perez Amanfro','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perez- zoeland ','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perez Zoeland ','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Pci','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Zoeland','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('PCi','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('PCI-La','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perez Chapel ','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('PCI Zoe','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perez Zealand','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('PCI Dome','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('P C I','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Dome-Above Chapel ','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('PCI Hq','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perez Takoradi','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('PCI FRENCH','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('PCI DOME','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Pci Nkwanta','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perez/Amsterdam','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perez/Dome','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Zoeland ','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Dome ','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Pci/ French','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('PCI French','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perez Campus Ministry','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perez Campus Ministry ','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Pci ','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('PCI-Dome','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perez DOme','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('PCI-Zoeland','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('PCI-Atomic'','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perz Chapel','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perz Chapel','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perz Chapel','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perz Chapel','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perz Chapel','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perz Chapel','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perz Chapel','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perz Chapel','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perz Chapel','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perz Chapel','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perz Chapel','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perz Chapel','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perz Chapel','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perz Chapel','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perz Chapel','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perz Chapel','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perz Chapel','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perz Chapel','Perez Chapel'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('Perz Chapel','Perez Chapel'))



























ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))
ses23['Name of Church'] = ses23['Name of Church'].apply(lambda x : str(x).replace('High school graduate','High school'))

In [ ]:
ses23

In [ ]:
ses23['Title'].unique()

In [ ]:
ses23['Title'] = ses23['Title'].replace('Presiding Elderer','Presiding Elder')
ses23['Title'] = ses23['Title'].replace('Rev ','Rev')
ses23['Title'] = ses23['Title'].replace('Pastor','Ps')
ses23['Title'] = ses23['Title'].replace('ELDER MRS.','Elder Mrs')
ses23['Title'] = ses23['Title'].replace('Mrs.','Mrs')
ses23['Title'] = ses23['Title'].replace('Ms','Miss')
ses23['Title'] = ses23['Title'].replace('Ms.','Miss')
ses23['Title'] = ses23['Title'].replace('Mr.','Mr')
ses23['Title'] = ses23['Title'].replace('Mrs ','Mrs')
ses23['Title'] = ses23['Title'].replace('Dr.','Dr')
ses23['Title'] = ses23['Title'].replace('Miss ','Miss')
ses23['Title'] = ses23['Title'].replace('Mr ','Mr')
ses23['Title'] = ses23['Title'].replace('REV ','Rev')
ses23['Title'] = ses23['Title'].replace('REV','Rev')
ses23['Title'] = ses23['Title'].replace('SP','Ps')
ses23['Title'] = ses23['Title'].replace('Mr. ','Mr')
ses23['Title'] = ses23['Title'].replace('Mis','Miss')
ses23['Title'] = ses23['Title'].replace('Rev. ','Rev')
ses23['Title'] = ses23['Title'].replace('Cell leader ','Cell leader')
ses23['Title'] = ses23['Title'].replace('Ms ','Miss')
ses23['Title'] = ses23['Title'].replace('Reverend','Rev')
ses23['Title'] = ses23['Title'].replace('Madam','Mrs')
ses23['Title'] = ses23['Title'].replace('Ps. ','Ps')
ses23['Title'] = ses23['Title'].replace('Bro','Mr')
ses23['Title'] = ses23['Title'].replace('Me','Mr')
ses23['Title'] = ses23['Title'].replace('Ps.','Ps')
ses23['Title'] = ses23['Title'].replace('Sir','Mr')
ses23['Title'] = ses23['Title'].replace('Pastor ','Ps')
ses23['Title'] = ses23['Title'].replace('Deaconess ','Deaconess')
ses23['Title'] = ses23['Title'].replace('Apostle ','Apostle')
ses23['Title'] = ses23['Title'].replace('Madam ','Mrs')
ses23['Title'] = ses23['Title'].replace('Prophet ','Prophet')
ses23['Title'] = ses23['Title'].replace('Evangelist ','Evangelist')
ses23['Title'] = ses23['Title'].replace('Pas')
ses23['Title'] = ses23['Title'].replace('MRS','Mrs')
ses23['Title'] = ses23['Title'].replace('Mrs. ','Mrs')
ses23['Title'] = ses23['Title'].replace('MADAM','Mrs')
ses23['Title'] = ses23['Title'].replace('MR','Mr')
ses23['Title'] = ses23['Title'].replace('PASTOR','Ps')
ses23['Title'] = ses23['Title'].replace('MADAM ','Mrs')
ses23['Title'] = ses23['Title'].replace('Elder ','Elder')
ses23['Title'] = ses23['Title'].replace('Apt', 'Apostle')
ses23['Title'] = ses23['Title'].replace('F','Mr')
ses23['Title'] = ses23['Title'].replace('Asafo Maame','Mrs')
ses23['Title'] = ses23['Title'].replace('Reverend ','Rev')
ses23['Title'] = ses23['Title'].replace('Mr/Ms','Mr')
ses23['Title'] = ses23['Title'].replace('P. Eld.','Presiding Elder')
ses23['Title'] = ses23['Title'].replace('Evang','Evangelist')
ses23['Title'] = ses23['Title'].replace('M & E','Mr')
ses23['Title'] = ses23['Title'].replace('Bishop ','Bishop')
ses23['Title'] = ses23['Title'].replace('Deacon ','Deacon')
ses23['Title'] = ses23['Title'].replace('mrs','Mrs')
ses23['Title'] = ses23['Title'].replace('Daniel','Mr')
ses23['Title'] = ses23['Title'].replace('MISS','Miss')
ses23['Title'] = ses23['Title'].replace('Mrs  ','Mrs')
ses23['Title'] = ses23['Title'].replace('Mes','Mrs')
ses23['Title'] = ses23['Title'].replace('Mt','Mr')
ses23['Title'] = ses23['Title'].replace('Min','Mr')
ses23['Title'] = ses23['Title'].replace('Madame ','Mrs')
ses23['Title'] = ses23['Title'].replace('Mr..','Mr')
ses23['Title'] = ses23['Title'].replace('Pst','Ps')
ses23['Title'] = ses23['Title'].replace('Mre','Mrs')
ses23['Title'] = ses23['Title'].replace('Mr/Miss','Mr')
ses23['Title'] = ses23['Title'].replace('PS','Ps')
ses23['Title'] = ses23['Title'].replace('Apst','Apostle')
ses23['Title'] = ses23['Title'].replace('MRS ','Mrs')
ses23['Title'] = ses23['Title'].replace('PS ','Ps')
ses23['Title'] = ses23['Title'].replace('Mad','Mrs')
ses23['Title'] = ses23['Title'].replace('Deaconnes','Deaconess')
ses23['Title'] = ses23['Title'].replace('Eld','Elder')
ses23['Title'] = ses23['Title'].replace('Overseer','Ps')
ses23['Title'] = ses23['Title'].replace('Brother ','Mr')
ses23['Title'] = ses23['Title'].replace('Mme','Mrs')
ses23['Title'] = ses23['Title'].replace('Evan','Evangelist')
ses23['Title'] = ses23['Title'].replace('Pat ','Ps')
ses23['Title'] = ses23['Title'].replace('Master','Mr')
ses23['Title'] = ses23['Title'].replace('Ps ','Ps')
ses23['Title'] = ses23['Title'].replace('Prb','Prophet')
ses23['Title'] = ses23['Title'].replace('Prb ','Prophet')
ses23['Title'] = ses23['Title'].replace('Madam Awortwe','Mrs')
ses23['Title'] = ses23['Title'].replace('Doctor ','Dr')
ses23['Title'] = ses23['Title'].replace('M','Mr')
ses23['Title'] = ses23['Title'].replace('MR','Mr')
ses23['Title'] = ses23['Title'].replace('mr','Mr')
ses23['Title'] = ses23['Title'].replace('MS','Miss')
ses23['Title'] = ses23['Title'].replace('BISHOP','Bishop')
ses23['Title'] = ses23['Title'].replace('PROPHET','Prophet')
ses23['Title'] = ses23['Title'].replace('M & E ','Mr')
ses23['Title'] = ses23['Title'].replace('Djicopitro','Mr')
ses23['Title'] = ses23['Title'].replace('MR ','Mr')
ses23['Title'] = ses23['Title'].replace('Rev.','Rev')
ses23['Title'] = ses23['Title'].replace('Minister','Mr')
ses23['Title'] = ses23['Title'].replace('Rev. Dr','Rev')
ses23['Title'] = ses23['Title'].replace('Rev. Prophet' ,'Prophet')

In [ ]:
ses23['Title'].unique()

In [ ]:
print("These are the unique titles and their count in this dataset: ")

ses23['Title'].value_counts()

In [ ]:
Total_title = ses23['Title'].value_counts()

# Sort in descending order
Total_title  = Total_title .sort_values(ascending=True)

# Set up the figure and axes
fig, ax = plt.subplots()

# Create a bar plot
ax.bar(Total_title .index, Total_title.values)

# Customize the plot
ax.set_title('TOTAL NUMBER OF TITLE THAT CAME FOR THE SES 2023')
ax.set_xlabel('Title')
ax.set_ylabel('Count')

# Rotate x-axis labels if needed
plt.xticks(rotation=90)

# Display the plot
plt.show()

In [ ]:
ses23['Country'].unique()

In [ ]:
ses23['Country'] = ses23['Country'].replace('GHANA','Ghana')
ses23['Country'] = ses23['Country'].replace('Ghana ','Ghana')
ses23['Country'] = ses23['Country'].replace('Netherlands ','Netherlands')
ses23['Country'] = ses23['Country'].replace('Tchad ','Chad')
ses23['Country'] = ses23['Country'].replace('Tchad','Chad')
ses23['Country'] = ses23['Country'].replace('Ghaba','Ghana')
ses23['Country'] = ses23['Country'].replace('GHANA ','Ghana')
ses23['Country'] = ses23['Country'].replace('Ghans','Ghana')
ses23['Country'] = ses23['Country'].replace('Nigeria ','Nigeria')
ses23['Country'] = ses23['Country'].replace('United Kingdom ','United Kingdom')
ses23['Country'] = ses23['Country'].replace('Togo ','Togo')
ses23['Country'] = ses23['Country'].replace('Cameroon ','Cameroon')
ses23['Country'] = ses23['Country'].replace('Ghanaian ','Ghana')
ses23['Country'] = ses23['Country'].replace('Congo ','Congo')
ses23['Country'] = ses23['Country'].replace('Gabon ','Gabon')
ses23['Country'] = ses23['Country'].replace('Benin ','Benin')
ses23['Country'] = ses23['Country'].replace('Ivory coast','CÃ´tÃ© dâ€™Ivoire')
ses23['Country'] = ses23['Country'].replace('Lvory coast ','CÃ´tÃ© dâ€™Ivoire')
ses23['Country'] = ses23['Country'].replace('Coast Ivory','CÃ´tÃ© dâ€™Ivoire')
ses23['Country'] = ses23['Country'].replace("Cote D'Ivoire ",'CÃ´tÃ© dâ€™Ivoire')
ses23['Country'] = ses23['Country'].replace('C I','CÃ´tÃ© dâ€™Ivoire')
ses23['Country'] = ses23['Country'].replace('Cote divoire','CÃ´tÃ© dâ€™Ivoire')
ses23['Country'] = ses23['Country'].replace('CAR','Central African Republic')
ses23['Country'] = ses23['Country'].replace('Ivory Coast ','CÃ´tÃ© dâ€™Ivoire')
ses23['Country'] = ses23['Country'].replace('Cole divore ','CÃ´tÃ© dâ€™Ivoire')
ses23['Country'] = ses23['Country'].replace('Gabon/Ghana','Gabon')
ses23['Country'] = ses23['Country'].replace('R.D.C','Democratic Republic of Congo')
ses23['Country'] = ses23['Country'].replace("Cote D'Ivorie",'CÃ´tÃ© dâ€™Ivoire')
ses23['Country'] = ses23['Country'].replace('Ghana/US','Ghana')
ses23['Country'] = ses23['Country'].replace('South Africa ','South Africa')
ses23['Country'] = ses23['Country'].replace('lawsoneleanor920@gmail.com','Ghana')
ses23['Country'] = ses23['Country'].replace('Cote Dâ€™Ivoire','CÃ´tÃ© dâ€™Ivoire')
ses23['Country'] = ses23['Country'].replace('Cote Dâ€™Ivoire ','CÃ´tÃ© dâ€™Ivoire')
ses23['Country'] = ses23['Country'].replace('C.A.R','Central African Republic')
ses23['Country'] = ses23['Country'].replace('darkohilda@gmail.com','Ghana')
ses23['Country'] = ses23['Country'].replace("CÃ³te D'voire",'CÃ´tÃ© dâ€™Ivoire')
ses23['Country'] = ses23['Country'].replace('Cote d ivai','CÃ´tÃ© dâ€™Ivoire')
ses23['Country'] = ses23['Country'].replace('Ivory Coast','CÃ´tÃ© dâ€™Ivoire')
ses23['Country'] = ses23['Country'].replace('T Chad','Chad')
ses23['Country'] = ses23['Country'].replace('UK','United Kingdom')
ses23['Country'] = ses23['Country'].replace('C. A. R','Central African Republic')
ses23['Country'] = ses23['Country'].replace('C.I','CÃ´tÃ© dâ€™Ivoire')
ses23['Country'] = ses23['Country'].replace('Cote Dâ€™Ivore','CÃ´tÃ© dâ€™Ivoire')
ses23['Country'] = ses23['Country'].replace('Preciouskaledzi77@gmail.com','Ghana')
ses23['Country'] = ses23['Country'].replace('Ghanan','Ghana')
ses23['Country'] = ses23['Country'].replace('C.A.R ','Central African Republic')
ses23['Country'] = ses23['Country'].replace('Central African Republic ','Central African Republic')
ses23['Country'] = ses23['Country'].replace("Cote d' ivior",'CÃ´tÃ© dâ€™Ivoire')
ses23['Country'] = ses23['Country'].replace('CMR','Cameroon')
ses23['Country'] = ses23['Country'].replace('USA','United States of America')
ses23['Country'] = ses23['Country'].replace('CONGO','Congo')
ses23['Country'] = ses23['Country'].replace('GABON','Gabon')
ses23['Country'] = ses23['Country'].replace('CHAD','Chad')
ses23['Country'] = ses23['Country'].replace('SENEGAL','Senegal')
ses23['Country'] = ses23['Country'].replace('COTE DIVOIRE','CÃ´tÃ© dâ€™Ivoire')
ses23['Country'] = ses23['Country'].replace('BURKINA FASO','Burkina Faso')
ses23['Country'] = ses23['Country'].replace('SOUTH AFRICA','South Africa')
ses23['Country'] = ses23['Country'].replace('ghana','Ghana')
ses23['Country'] = ses23['Country'].replace('Guana','Ghana')
ses23['Country'] = ses23['Country'].replace("Cote D'Ivoire",'CÃ´tÃ© dâ€™Ivoire')
ses23['Country'] = ses23['Country'].replace("Cote d'Ivoire ",'CÃ´tÃ© dâ€™Ivoire')
ses23['Country'] = ses23['Country'].replace('Abijan','CÃ´tÃ© dâ€™Ivoire')
ses23['Country'] = ses23['Country'].replace('RCI','CÃ´tÃ© dâ€™Ivoire')
ses23['Country'] = ses23['Country'].replace('RCI ','CÃ´tÃ© dâ€™Ivoire')
ses23['Country'] = ses23['Country'].replace('Swiss','Switzerland')
ses23['Country'] = ses23['Country'].replace('CHC','Ghana')

In [ ]:
ses23['Country'].unique()

In [ ]:
ses23['Country'].value_counts()

In [ ]:
ses23['Occupation'].unique()

In [ ]:
ses23['Occupation'].value_counts()