## <center>SUPERNATURAL EMPOWERMENT SUMMIT, '23 </center>

### IMPORT PACKAGES

In [ ]:
#Data Handling
import numpy as np
import pandas as pd

#Visualizations
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

from termcolor import colored

# Feature Processing (Scikit-learn processing, etc. )
from sklearn.preprocessing import LabelEncoder

# Evaluation Metrics
from sklearn.model_selection import train_test_split
from catboost import CatBoostClassifier
from sklearn.metrics import f1_score, recall_score, precision_score, fbeta_score, accuracy_score, roc_auc_score
from sklearn.metrics import confusion_matrix
from sklearn.feature_selection import RFE

#Other packages
import warnings
warnings.filterwarnings('always')

In [ ]:
# Overview of the dataset

ses23 = pd.read_csv("C:/Users/KWABENABOATENG/Desktop/DATA ANALYSIS/PERSONAL/SES 2023/SUPERNATURAL-EMPOWERMENT-SUMMIT---2023/SES '23.csv")
ses23

In [ ]:
# Check the shape of the dataset.

ses23.shape

In [ ]:
ses23.info()

In [ ]:
ses23.isnull()

In [ ]:
ses23.isnull().sum()

In [ ]:
# Check for the total null values.

ses23.isnull().sum().sum()

In [ ]:
ses23

### INSIGHTS

In this data sets, there are;
* 3598 rows & 10 columns.

In [ ]:
#Check for missing values in this dataset.

ses23.isna().sum()

#### INSIGHTS

There were missing values in four columns of the dataset.<br>
They are:
* WhatsApp column       - 2715 missing values.
* Email Address column  - 2131 missing values.
* Occupation column     - 3389 missing values.
* Name of Church column - 410 missing values.

In [ ]:
ses23.describe(include='all')

### FEATURE ENGINEERING

In [ ]:
#Create a copy of the original test dataset

ses23.copy = ses23.copy()

In [ ]:
ses23.drop (columns=['Timestamp', 'WhatsApp Number', 'Email Address'], inplace = True)

In [ ]:
ses23

In [ ]:
ses23.isnull()

In [ ]:
ses23.isnull().sum()

In [ ]:
ses23['Occupation'].fillna('Pastor', inplace=True)

In [ ]:
ses23['Name of Church'].fillna('Perez Chapel', inplace=True)

In [ ]:
ses23['Name of Church'].unique()

In [ ]:
ses23.replace(to_replace='PEREZ', value = 'Perez Chapel')
ses23.replace(to_replace='Perz Chapel', value = 'Perez Chapel')
ses23.replace(to_replace='PCI DOME', value = 'Perez Chapel')
ses23.replace(to_replace='Dome ', value = 'Perez Chapel')
ses23.replace(to_replace='Perez Chapel', value = 'Perez Chapel')
ses23.replace(to_replace='Perez Dome ', value = 'Perez Chapel')
ses23.replace(to_replace='Perez ', value = 'Perez Chapel')
ses23.replace(to_replace='Perez Aflao ', value = 'Perez Chapel')
ses23.replace(to_replace='PCM', value = 'Perez Chapel')
ses23.replace(to_replace='PCI Denu', value = 'Perez Chapel')
ses23.replace(to_replace='PCI Denu', value = 'Perez Chapel')
ses23.replace(to_replace='Perez Amanfro', value = 'Perez Chapel')
ses23.replace(to_replace='Perez- zoeland ', value = 'Perez Chapel')
ses23.replace(to_replace='Pci', value = 'Perez Chapel')
ses23.replace(to_replace='Zoeland', value = 'Perez Chapel')
ses23.replace(to_replace='PCi', value = 'Perez Chapel')
ses23.replace(to_replace='PCI-Tesano', value = 'Perez Chapel')
ses23.replace(to_replace='Zoe', value = 'Perez Chapel')
ses23.replace(to_replace='Perez/ Dome', value = 'Perez Chapel')
ses23.replace(to_replace='Perez H.Q', value = 'Perez Chapel')
ses23.replace(to_replace='Perez K.K.', value = 'Perez Chapel')
ses23.replace(to_replace='Perez chapel international -Odorkor', value = 'Perez Chapel')
ses23.replace(to_replace='Perez Chapel international ', value = 'Perez Chapel')
ses23.replace(to_replace='Perez Spintex', value = 'Perez Chapel')
ses23.replace(to_replace='Perez (Spintex)', value = 'Perez Chapel')
ses23.replace(to_replace='Perez Brazzaville', value = 'Perez Chapel')
ses23.replace(to_replace='PCI/ French', value = 'Perez Chapel')
ses23.replace(to_replace='Perez Manhean', value = 'Perez Chapel')
ses23.replace(to_replace='Pci Dzorwulu', value = 'Perez Chapel')
ses23.replace(to_replace='KANDA PCZ', value = 'Perez Chapel')
ses23.replace(to_replace='Perez Afiaman', value = 'Perez Chapel')
ses23.replace(to_replace='Perez Mankesim', value = 'Perez Chapel')
ses23.replace(to_replace='PEREZ TESANO', value = 'Perez Chapel')
ses23.replace(to_replace='PCI MANKESIM', value = 'Perez Chapel')
ses23.replace(to_replace='Dome ', value = 'Perez Chapel')
ses23.replace(to_replace='Dome ', value = 'Perez Chapel')
ses23.replace(to_replace='Dome ', value = 'Perez Chapel')
ses23.replace(to_replace='Dome ', value = 'Perez Chapel')
ses23.replace(to_replace='Dome ', value = 'Perez Chapel')
ses23.replace(to_replace='Dome ', value = 'Perez Chapel')
ses23.replace(to_replace='Dome ', value = 'Perez Chapel')
ses23.replace(to_replace='Dome ', value = 'Perez Chapel')
ses23.replace(to_replace='Dome ', value = 'Perez Chapel')
ses23.replace(to_replace='Dome ', value = 'Perez Chapel')
ses23.replace(to_replace='Dome ', value = 'Perez Chapel')
ses23.replace(to_replace='Dome ', value = 'Perez Chapel')
ses23.replace(to_replace='Dome ', value = 'Perez Chapel')
ses23.replace(to_replace='Dome ', value = 'Perez Chapel')
ses23.replace(to_replace='Dome ', value = 'Perez Chapel')
ses23.replace(to_replace='Dome ', value = 'Perez Chapel')
ses23.replace(to_replace='Dome ', value = 'Perez Chapel')

In [ ]:
ses23

In [ ]:
ses23['Title'].unique()

In [ ]:
ses23['Title'] = ses23['Title'].replace('Presiding Elderer','Presiding Elder')
ses23['Title'] = ses23['Title'].replace('Rev ','Rev')
ses23['Title'] = ses23['Title'].replace('Pastor','Ps')
ses23['Title'] = ses23['Title'].replace('ELDER MRS.','Elder Mrs')
ses23['Title'] = ses23['Title'].replace('Mrs.','Mrs')
ses23['Title'] = ses23['Title'].replace('Ms','Miss')
ses23['Title'] = ses23['Title'].replace('Ms.','Miss')
ses23['Title'] = ses23['Title'].replace('Mr.','Mr')
ses23['Title'] = ses23['Title'].replace('Mrs ','Mrs')
ses23['Title'] = ses23['Title'].replace('Dr.','Dr')
ses23['Title'] = ses23['Title'].replace('Miss ','Miss')
ses23['Title'] = ses23['Title'].replace('Mr ','Mr')
ses23['Title'] = ses23['Title'].replace('REV ','Rev')
ses23['Title'] = ses23['Title'].replace('REV','Rev')
ses23['Title'] = ses23['Title'].replace('SP','Ps')
ses23['Title'] = ses23['Title'].replace('Mr. ','Mr')
ses23['Title'] = ses23['Title'].replace('Mis','Miss')
ses23['Title'] = ses23['Title'].replace('Rev. ','Rev')
ses23['Title'] = ses23['Title'].replace('Cell leader ','Cell leader')
ses23['Title'] = ses23['Title'].replace('Ms ','Miss')
ses23['Title'] = ses23['Title'].replace('Reverend','Rev')
ses23['Title'] = ses23['Title'].replace('Madam','Mrs')
ses23['Title'] = ses23['Title'].replace('Ps. ','Ps')
ses23['Title'] = ses23['Title'].replace('Bro','Mr')
ses23['Title'] = ses23['Title'].replace('Me','Mr')
ses23['Title'] = ses23['Title'].replace('Ps.','Ps')
ses23['Title'] = ses23['Title'].replace('Sir','Mr')
ses23['Title'] = ses23['Title'].replace('Pastor ','Ps')
ses23['Title'] = ses23['Title'].replace('Deaconess ','Deaconess')
ses23['Title'] = ses23['Title'].replace('Apostle ','Apostle')
ses23['Title'] = ses23['Title'].replace('Madam ','Mrs')
ses23['Title'] = ses23['Title'].replace('Prophet ','Prophet')
ses23['Title'] = ses23['Title'].replace('Evangelist ','Evangelist')
ses23['Title'] = ses23['Title'].replace('Pas')
ses23['Title'] = ses23['Title'].replace('MRS','Mrs')
ses23['Title'] = ses23['Title'].replace('Mrs. ','Mrs')
ses23['Title'] = ses23['Title'].replace('MADAM','Mrs')
ses23['Title'] = ses23['Title'].replace('MR','Mr')
ses23['Title'] = ses23['Title'].replace('PASTOR','Ps')
ses23['Title'] = ses23['Title'].replace('MADAM ','Mrs')
ses23['Title'] = ses23['Title'].replace('Elder ','Elder')
ses23['Title'] = ses23['Title'].replace('Apt', 'Apostle')
ses23['Title'] = ses23['Title'].replace('F','Mr')
ses23['Title'] = ses23['Title'].replace('Asafo Maame','Mrs')
ses23['Title'] = ses23['Title'].replace('Reverend ','Rev')
ses23['Title'] = ses23['Title'].replace('Mr/Ms','Mr')
ses23['Title'] = ses23['Title'].replace('P. Eld.','Presiding Elder')
ses23['Title'] = ses23['Title'].replace('Evang','Evangelist')
ses23['Title'] = ses23['Title'].replace('M & E','Mr')
ses23['Title'] = ses23['Title'].replace('Bishop ','Bishop')
ses23['Title'] = ses23['Title'].replace('Deacon ','Deacon')
ses23['Title'] = ses23['Title'].replace('mrs','Mrs')
ses23['Title'] = ses23['Title'].replace('Daniel','Mr')
ses23['Title'] = ses23['Title'].replace('MISS','Miss')
ses23['Title'] = ses23['Title'].replace('Mrs  ','Mrs')
ses23['Title'] = ses23['Title'].replace('Mes','Mrs')
ses23['Title'] = ses23['Title'].replace('Mt','Mr')
ses23['Title'] = ses23['Title'].replace('Min','Mr')
ses23['Title'] = ses23['Title'].replace('Madame ','Mrs')
ses23['Title'] = ses23['Title'].replace('Mr..','Mr')
ses23['Title'] = ses23['Title'].replace('Pst','Ps')
ses23['Title'] = ses23['Title'].replace('Mre','Mrs')
ses23['Title'] = ses23['Title'].replace('Mr/Miss','Mr')
ses23['Title'] = ses23['Title'].replace('PS','Ps')
ses23['Title'] = ses23['Title'].replace('Apst','Apostle')
ses23['Title'] = ses23['Title'].replace('MRS ','Mrs')
ses23['Title'] = ses23['Title'].replace('PS ','Ps')
ses23['Title'] = ses23['Title'].replace('Mad','Mrs')
ses23['Title'] = ses23['Title'].replace('Deaconnes','Deaconess')
ses23['Title'] = ses23['Title'].replace('Eld','Elder')
ses23['Title'] = ses23['Title'].replace('Overseer','Ps')
ses23['Title'] = ses23['Title'].replace('Brother ','Mr')
ses23['Title'] = ses23['Title'].replace('Mme','Mrs')
ses23['Title'] = ses23['Title'].replace('Evan','Evangelist')
ses23['Title'] = ses23['Title'].replace('Pat ','Ps')
ses23['Title'] = ses23['Title'].replace('Master','Mr')
ses23['Title'] = ses23['Title'].replace('Ps ','Ps')
ses23['Title'] = ses23['Title'].replace('Prb','Prophet')
ses23['Title'] = ses23['Title'].replace('Prb ','Prophet')
ses23['Title'] = ses23['Title'].replace('Madam Awortwe','Mrs')
ses23['Title'] = ses23['Title'].replace('Doctor ','Dr')
ses23['Title'] = ses23['Title'].replace('M','Mr')
ses23['Title'] = ses23['Title'].replace('MR','Mr')
ses23['Title'] = ses23['Title'].replace('mr','Mr')
ses23['Title'] = ses23['Title'].replace('MS','Miss')
ses23['Title'] = ses23['Title'].replace('BISHOP','Bishop')
ses23['Title'] = ses23['Title'].replace('PROPHET','Prophet')
ses23['Title'] = ses23['Title'].replace('M & E ','Mr')
ses23['Title'] = ses23['Title'].replace('Djicopitro','Mr')
ses23['Title'] = ses23['Title'].replace('MR ','Mr')
ses23['Title'] = ses23['Title'].replace('Rev.','Rev')
ses23['Title'] = ses23['Title'].replace('Minister','Mr')
ses23['Title'] = ses23['Title'].replace('Rev. Dr','Rev')
ses23['Title'] = ses23['Title'].replace('Rev. Prophet' ,'Prophet')

In [ ]:
ses23['Title'].unique()

In [ ]:
print("These are the unique titles and their count in this dataset: ")

ses23['Title'].value_counts()

In [ ]:
Total_title = ses23['Title'].value_counts()

# Sort in descending order
Total_title  = Total_title .sort_values(ascending=True)

# Set up the figure and axes
fig, ax = plt.subplots()

# Create a bar plot
ax.bar(Total_title .index, Total_title.values)

# Customize the plot
ax.set_title('TOTAL NUMBER OF TITLE THAT CAME FOR THE SES 2023')
ax.set_xlabel('Title')
ax.set_ylabel('Count')

# Rotate x-axis labels if needed
plt.xticks(rotation=90)

# Display the plot
plt.show()

In [ ]:
ses23['Country'].unique()

In [ ]:
ses23['Country'] = ses23['Country'].replace('GHANA','Ghana')
ses23['Country'] = ses23['Country'].replace('Ghana ','Ghana')
ses23['Country'] = ses23['Country'].replace('Netherlands ','Netherlands')
ses23['Country'] = ses23['Country'].replace('Tchad ','Chad')
ses23['Country'] = ses23['Country'].replace('Tchad','Chad')
ses23['Country'] = ses23['Country'].replace('Ghaba','Ghana')
ses23['Country'] = ses23['Country'].replace('GHANA ','Ghana')
ses23['Country'] = ses23['Country'].replace('Ghans','Ghana')
ses23['Country'] = ses23['Country'].replace('Nigeria ','Nigeria')
ses23['Country'] = ses23['Country'].replace('United Kingdom ','United Kingdom')
ses23['Country'] = ses23['Country'].replace('Togo ','Togo')
ses23['Country'] = ses23['Country'].replace('Cameroon ','Cameroon')
ses23['Country'] = ses23['Country'].replace('Ghanaian ','Ghana')
ses23['Country'] = ses23['Country'].replace('Congo ','Congo')
ses23['Country'] = ses23['Country'].replace('Gabon ','Gabon')
ses23['Country'] = ses23['Country'].replace('Benin ','Benin')
ses23['Country'] = ses23['Country'].replace('Ivory coast','Côté d’Ivoire')
ses23['Country'] = ses23['Country'].replace('Lvory coast ','Côté d’Ivoire')
ses23['Country'] = ses23['Country'].replace('Coast Ivory','Côté d’Ivoire')
ses23['Country'] = ses23['Country'].replace("Cote D'Ivoire ",'Côté d’Ivoire')
ses23['Country'] = ses23['Country'].replace('C I','Côté d’Ivoire')
ses23['Country'] = ses23['Country'].replace('Cote divoire','Côté d’Ivoire')
ses23['Country'] = ses23['Country'].replace('CAR','Central African Republic')
ses23['Country'] = ses23['Country'].replace('Ivory Coast ','Côté d’Ivoire')
ses23['Country'] = ses23['Country'].replace('Cole divore ','Côté d’Ivoire')
ses23['Country'] = ses23['Country'].replace('Gabon/Ghana','Gabon')
ses23['Country'] = ses23['Country'].replace('R.D.C','Democratic Republic of Congo')
ses23['Country'] = ses23['Country'].replace("Cote D'Ivorie",'Côté d’Ivoire')
ses23['Country'] = ses23['Country'].replace('Ghana/US','Ghana')
ses23['Country'] = ses23['Country'].replace('South Africa ','South Africa')
ses23['Country'] = ses23['Country'].replace('lawsoneleanor920@gmail.com','Ghana')
ses23['Country'] = ses23['Country'].replace('Cote D’Ivoire','Côté d’Ivoire')
ses23['Country'] = ses23['Country'].replace('Cote D’Ivoire ','Côté d’Ivoire')
ses23['Country'] = ses23['Country'].replace('C.A.R','Central African Republic')
ses23['Country'] = ses23['Country'].replace('darkohilda@gmail.com','Ghana')
ses23['Country'] = ses23['Country'].replace("Cóte D'voire",'Côté d’Ivoire')
ses23['Country'] = ses23['Country'].replace('Cote d ivai','Côté d’Ivoire')
ses23['Country'] = ses23['Country'].replace('Ivory Coast','Côté d’Ivoire')
ses23['Country'] = ses23['Country'].replace('T Chad','Chad')
ses23['Country'] = ses23['Country'].replace('UK','United Kingdom')
ses23['Country'] = ses23['Country'].replace('C. A. R','Central African Republic')
ses23['Country'] = ses23['Country'].replace('C.I','Côté d’Ivoire')
ses23['Country'] = ses23['Country'].replace('Cote D’Ivore','Côté d’Ivoire')
ses23['Country'] = ses23['Country'].replace('Preciouskaledzi77@gmail.com','Ghana')
ses23['Country'] = ses23['Country'].replace('Ghanan','Ghana')
ses23['Country'] = ses23['Country'].replace('C.A.R ','Central African Republic')
ses23['Country'] = ses23['Country'].replace('Central African Republic ','Central African Republic')
ses23['Country'] = ses23['Country'].replace("Cote d' ivior",'Côté d’Ivoire')
ses23['Country'] = ses23['Country'].replace('CMR','Cameroon')
ses23['Country'] = ses23['Country'].replace('USA','United States of America')
ses23['Country'] = ses23['Country'].replace('CONGO','Congo')
ses23['Country'] = ses23['Country'].replace('GABON','Gabon')
ses23['Country'] = ses23['Country'].replace('CHAD','Chad')
ses23['Country'] = ses23['Country'].replace('SENEGAL','Senegal')
ses23['Country'] = ses23['Country'].replace('COTE DIVOIRE','Côté d’Ivoire')
ses23['Country'] = ses23['Country'].replace('BURKINA FASO','Burkina Faso')
ses23['Country'] = ses23['Country'].replace('SOUTH AFRICA','South Africa')
ses23['Country'] = ses23['Country'].replace('ghana','Ghana')
ses23['Country'] = ses23['Country'].replace('Guana','Ghana')
ses23['Country'] = ses23['Country'].replace("Cote D'Ivoire",'Côté d’Ivoire')
ses23['Country'] = ses23['Country'].replace("Cote d'Ivoire ",'Côté d’Ivoire')
ses23['Country'] = ses23['Country'].replace('Abijan','Côté d’Ivoire')
ses23['Country'] = ses23['Country'].replace('RCI','Côté d’Ivoire')
ses23['Country'] = ses23['Country'].replace('RCI ','Côté d’Ivoire')
ses23['Country'] = ses23['Country'].replace('Swiss','Switzerland')
ses23['Country'] = ses23['Country'].replace('CHC','Ghana')

In [ ]:
ses23['Country'].unique()

In [ ]:
ses23['Country'].value_counts()

In [ ]:
ses23['Occupation'].unique()

In [ ]:
ses23['Occupation'].value_counts()